<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      
      <h3>Shopping List</h3>
      <h4><a href = "{{ url_for('new') }}">Add Item</a></h4>
      <h4><a href = "{{ url_for('remove') }}">Remove Item</a></h4>

      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Quantity</th>
            </tr>
         </thead>
         
         <tbody>
            {% for item in list %}
               <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.quantity }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>