<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Shopping List (<a href = "{{ url_for('form') }}">Add/Remove Item
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Quantity</th>
            </tr>
         </thead>
         
         <tbody>
            {% for item in list %}
               <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.quantity }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>